<!DOCTYPE html>
<html lang="en">
     <%- include ("../includes/head.ejs") %>

     <link rel="stylesheet" href="/css/login.css" />

     <body>
          <%-include ("../includes/nav.ejs") %>
          <h2>this is a dummy management page</h2>
          <script src="/scripts/login.js"></script>
     </body>
</html>
