<!DOCTYPE html>
<html lang="en">
     <%- include ("./includes/head.ejs") %>
     <body>
          <%-include ("./includes/nav.ejs") %>

          <br /><br /><br />
          Welcome to Chat, <%= username %>! There is nothing here yet, but something will come up
          soon !

          <svg class="bi" width="32" height="32" fill="currentColor">
               <use xlink:href="bootstrap-icons.svg#heart-fill" />
          </svg>
          <svg class="bi" width="32" height="32" fill="currentColor">
               <use xlink:href="bootstrap-icons.svg#toggles" />
          </svg>
          <svg class="bi" width="32" height="32" fill="currentColor">
               <use xlink:href="bootstrap-icons.svg#shop" />
          </svg>
          <code>&lt;section&gt;</code>
          <script src="/socket.io/socket.io.js"></script>
          <script src="/scripts/home.js"></script>
     </body>
</html>
