<!DOCTYPE html>
<html lang="en">
     <%- include ("./includes/head.ejs") %>
     <body>
          <%-include ("./includes/nav.ejs") %>

          <br /><br /><br />
          Welcome to Chat, <%= username %>!

          <div><button class="button">Sign out</button></div>
          <script src="/socket.io/socket.io.js"></script>
          <script src="/scripts/home.js"></script>
     </body>
</html>
